<h1>Features</h1>
<hr>
<% features.forEach(function(feature){ %>
Id: <%= feature.getId() %>
<br/>
Name: <%= feature.getName() %>
<br/>
Number of scenarios: <%= feature.getScenarios().length %>
<br/>
Success scenarios: <%= feature.getSuccess()%>
<hr>
<% }) %>