<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <link rel="icon" type="image/png" href="/images/favicon.png"/>
    <link rel='stylesheet' href='/stylesheets/style.css'/>
    <link rel='stylesheet' href='/stylesheets/bootstrap.min.css'/>
</head>
<body>
<h1><%= title %></h1>

<p>Welcome to <%= title %></p>

<a href="/features" class="btn btn-default">View Features</a>

</body>
</html>